<h1> It’s Thursday evening and you are sitting on your couch. You’ve got Friday off from work because who needs a job. What do you want to do for your weekend off? </h1>

<form method="POST" action="/guess">

<h2> Type "Miami" to go to Miami </h2>