<h1> Welcome to Miami! </h1>
<form method="POST" action="/guess/miami">

<h2> Type "Scuba", "Boat", "Swim", to do each respective activity! </h2>
	<input type= "text" name="activity">

	<input type= "submit">
</form>