<h1> Welcome to Miami! </h1>
<form method="POST" action="/guess/miami">

<h2> Type "Scuba", "Boat", "Swim", to do each respective activity! </h2>
	<input type= "text" name="activity">

	<input type= "submit">
</form>




post '/guess' do
	if params[:trip] == "Miami"
		erb :miami
	elsif params[:trip] == "Wisconsin"
#something
		end
	end
post '/guess/miami' do
			if params[:activity] == "Scuba"
			erb :scuba
		end
	end
post 'guess/miami/scuba' do
	if params[:tank] == "Full"
		erb :fulltank
	end
end


