<h1> Welcome to Miami! </h1>
<form method="POST" action="/guess/miami/scuba">

<h2> Type "Full" to fill air tank completely. Or type "Half" to fill air tank halfway </h2>
	<input type= "text" name="tank">

	<input type= "submit">
</form>